.side-bg {
  background-color: $light;
}

.smashgg-bg {
  background-color: $smashgg;
  color: white;
  font-weight: bold;
}

.smashgg-bg:hover {
  color: white!important;
}

.tonamel-bg {
  background-color: $tonamel;
  color: white;
  font-weight: bold;
}

.tonamel-bg:hover {
  color: white!important;
}